.e-1 {
  font-size: 40px;
}

.e-2 {
  font-size: 30px;
}

.e-3 {
  font-size: 40px;
}

.e-4 {
  font-size: 80px;
}

.e-5 {
  font-size: 90px;
}

.e-6 {
  font-size: 90px;
}

.e-7 {
  font-size: 80px;
}

.e-8 {
  font-size: 60px;
}

.e-9 {
  font-size: 40px;
}

.e-10 {
  font-size: 40px;
}
