.f-1 {
  background-color: rgb(255, 211, 130);
}

.f-2 {
  background-color: yellow;
}

.f-3 {
  background-color: red;
}

.f-4 {
  background-color: rgb(133, 238, 133);
}

.f-5 {
  background-color: rgb(124, 22, 124);
  color: white;
}

.f-6 {
  background-color: rgb(139, 230, 139);
}

.f-7 {
  background-color: orange;
}

.f-8 {
  background-color: red;
}

.f-9 {
  background-color: rgb(115, 209, 115);
}

.f-10 {
  background-color: rgb(238, 7, 57);
}

.f-11 {
  background-color:rgb(81, 224, 81);
}