/*Soy un comentario*/
/*para estilar un elemento html se deben seguir los siguientes pasos: selector | propiedad | valor*/

/* numeral para seleccionar todos los elementos html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Ysabeau SC', sans-serif;
}

header {
  background-color: coral;
  padding: 30px;
}

header img {
  width: 200px;
}

main {
  background-color: teal;
  padding: 30px;
}

footer {
  background-color: cadetblue;
  padding: 30px;
}

h1 {
  color:tomato;
}