/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a5d6a7;
}

div {
  background-color: #f7f7fc;
  width: 330px;
  text-align: center;
  /*1° tob-bottom 2°right-left*/
  margin: 200px auto;
  padding: 20px;
  box-shadow: 1px -1px 16px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 24px;
  color: #242E4C;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #7D7A9E;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

li {
  background-color: white;
  margin: 10px auto;
  padding: 5px;
  width: 200px;
  border-radius: 10px;
}